@model MenuModel
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        @foreach (var item in Model.MenuItems)
        {
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>
                        @item.Title
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @foreach (var childitem in item.menuChildItems)
                    {
                        <li class="nav-item">
                            <a href="@childitem.Url" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@childitem.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</nav>
